* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    --color-background: #fafafa;
    --color-foreground: #1f2023;
    background: var(--color-background);
    color: var(--color-foreground);
}

@media (prefers-color-scheme: dark) {
    body {
        --color-background: #1f2023;
        --color-foreground: #efefef;
    }
}
